<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flightsee</title>

	<!-- Google Maps API -->

	<!-- Styles -->
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/main.css">
	
	<!-- Scripts -->
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrDCgH3B-u6QkJeLAp54PqruYDNWFAQOs">
    </script>

</head>
<body>

<header>
	<h3 class="title">Welcome to Flight-See</h3>
	<div class="userpanel">
		<ul class="useractions">
			<li class="signup"><a href="./signup">Sign Up</a></li>
			<li class="login"><a href="./login">Log In</a></li>
		</ul>
	</div>
</header>