<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flightsee</title>

	<!-- Google Maps API -->

	<!-- Styles -->
	
	<!-- Scripts -->
	<script>
		  var google_api_key = "AIzaSyCrDCgH3B-u6QkJeLAp54PqruYDNWFAQOs";
	</script>
</head>
<body>
