<% include partials/header %>

<!--<script type="text/javascript">
      function initialize() {
        var mapOptions = {
          zoom: 5,
          center: new google.maps.LatLng(38.921313,-100.378955),
          mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
-->
    <script>
var Flightsee = {};
    //set some variables
var geocoder;
var map;
var flightPlanCoordinates = new Array();
var mapCenter;

//google maps initialize
function initialize() {
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(-34.397, 150.644);
  var mapOptions = {
    zoom: 8,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  }
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
}

var setMarker = function(address, callback){
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      flightPlanCoordinates.push(new google.maps.LatLng(results[0].geometry.location.k, results[0].geometry.location.B)); // coordinates to start from

      console.log(flightPlanCoordinates + " these are  the flightPlanCoordinates");
      
      var marker = new google.maps.Marker({ // Set the gmaps marker
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
    callback();
  });
}

var setFlightPath = function(){
  mapCenter = calcCenter(flightPlanCoordinates);
  map.setCenter(new google.maps.LatLng(mapCenter[0], mapCenter[1]));
  map.setZoom(4);
  console.log(mapCenter[0] + ", " + mapCenter[1] + " map center returned")
  // let's setup the flight path
  var flightPath = new google.maps.Polyline({
    center: new google.maps.LatLng(mapCenter[0], mapCenter[1]),
    path: flightPlanCoordinates,
    geodesic: false,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });
  flightPath.setMap(map);
  console.log("set map done")
}

// geocoding example code from API docs. Expanded to include flightpath info
function codeAddress() {
  var address1 = document.getElementById('address1').value; // first aiport
  var address2 = document.getElementById('address2').value; // second airport

  setMarker(address1, function(){
      console.log("address1 marker done")
      setMarker(address2, function(){
          console.log("address 2 marker done")
          setFlightPath();
      });
  });

}

google.maps.event.addDomListener(window, 'load', initialize);

var calcCenter = function(coords){
  //takes a latitude-longitude array and spits back the center point. returns a latitude-longitude array
  // Used for  centering the google map between the two endpoints
  var arr = [];
  arr.push( (coords[0].k + coords[1].k) / 2);
  arr.push( (coords[0].B + coords[1].B) / 2);
  return arr;
}
</script>

<div id="panel">
      <input id="address1" type="textbox" value="San Francisco International Airport">
      <input id="address2" type="textbox" value="Newark International Airport">
      <input type="button" value="Geocode" onclick="codeAddress()">
    </div>
    <div id="map-canvas"></div>


<% include partials/footer %>
