<% include partials/header %>

-->
<script>
  //google maps initialize on Grinnell, IA; home of the Puppet Masters
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(41.7294836, -92.7255108);
    var mapOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.TERRAIN
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  }
</script>
<script src="/scripts/maps.js"></script>

<!-- Give me your starting point and end points, and I will show you your flight and various wonders -->
<div id="panel">
  <div class="inner_panel">
    <input id="address1" type="textbox" value="" placeholder="Starting Airport">
    <input id="address2" type="textbox" value="" placeholder="Destination Airport">
    <input type="button" value="Plan Flight-seeing" onclick="codeAddress()">
  </div>
</div>

<div id="map-canvas"></div>


<% include partials/footer %>
