<% include partials/header %>

<!--<script type="text/javascript">
      function initialize() {
        var mapOptions = {
          zoom: 5,
          center: new google.maps.LatLng(38.921313,-100.378955),
          mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
-->
<script>
  //google maps initialize
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(41.7294836, -92.7255108);
    var mapOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.TERRAIN
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  }
</script>
<script src="/scripts/maps.js"></script>

<div id="panel">
  <div class="inner_panel">
    <input id="address1" type="textbox" value="" placeholder="Starting Airport">
    <input id="address2" type="textbox" value="" placeholder="Destination Airport">
    <input type="button" value="Plan Flight-seeing" onclick="codeAddress()">
  </div>
</div>

<div id="map-canvas"></div>


<% include partials/footer %>
